# Ignore everything inside the img folder
img/*
# ...except the .gitkeep file
!img/.gitkeep
./env
.DS_Store
# Avoid using a imgprocP compile in another operating system
imgprocP
img_to_process
img_processor.wiki